services:
  mongodb:
    image: mongo:latest
    container_name: hypesoft-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    container_name: hypesoft-mongo-ui
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: hypesoft-auth
    command: start-dev
    ports:
      - "8080:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin

volumes:
  mongo-data: